.a-logo {
    text-decoration: none;
    color: black;
}

.nav-item-icons {
    padding-right: 30px;
}

.background_title {
    background: url(src/background_title.png) center no-repeat;
    height: 745px;
    padding-bottom: 130px;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: gray;
}

.nav-link:focus {
    color: gray;
}

.title {
    font-weight: bold;
    font-size: 64px;
}

.title_button_a {
    text-decoration: none;
    color: white;
    background-color: #22262A;
    padding: 10px 30px;
    font-size: 18px;
}

.title_button {
    margin-top: 30px;
}

.category {
    max-height: 1500px;
}

.button_a_category {
    position: absolute;
    bottom: 10px;
    left: 10px;

    text-decoration: none;
    color: white;
    background-color: #22262A;
    padding: 5px 60px;
    font-size: 18px;
}

.woman_articles {
    max-height: auto;
}

.card-price {
    font-weight: bold;
}

.button_a_buy {
    text-decoration: none;
    color: white;
    background-color: #22262A;
    padding: 5px 60px;
    font-size: 16px;
    border: none;
}

.woman_articles {
    max-height: auto;
}

.background_title2 {
    background: url(src/background2.png) center no-repeat;
    height: 745px;
    padding-bottom: 130px;
    box-shadow: inset 0 30px 15px 0 white;
}

.button_a_close {
    text-decoration: none;
    color: white;
    background-color: gray;
    padding: 5px 30px;
    font-size: 16px;
    border: none;
}

.close {
    border: none;
}